<div id="<%= dom_id unit %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Number:</strong>
    <%= unit.number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Property:</strong>
    <%= unit.property_id %>
  </div>
</div>
